<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.bbk_ai_app">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name="${applicationName}"
        android:label="BBK AI"
        android:icon="@mipmap/ic_launcher"
        android:usesCleartextTraffic="true">

        <activity
            android:name=".MainActivity"
            android:exported
