<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.bbk_ai">

    <!-- صلاحيات الكاميرا وقراءة الصور -->
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <!-- للأندرويد 13+ قراءة الصور فقط -->
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />

    <application
        android:label="BBK OCR UAT"
        android:name="${applicationName}"
        android:icon="@mipmap/ic_launcher">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:theme="@style/LaunchTheme"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <!-- عند استخدام Flutter 3.16+ ما نحتاج provider خاص للصور -->
        <meta-data android:name="flutterEmbedding" android:value="2"/>
    </application>
</manifest>
